body {
  background: #060d1a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 80%;
}

button {
  padding: 12px;
  margin: 10px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}
